name: Get sync results

description:
    'Testing sync output gathered from external resources. Data gathered is a log zip file.'

on:
    workflow_dispatch:
        inputs:
            logs-status:
                type: string
                required: true
            logs-data:
                type: string
                required: true

permissions:
  contents: read
  id-token: write

jobs:
    test-sync:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Setup python
              uses: actions/setup-python@v6
              with:
                python-version: '3.13'
            - name: Setup Cloudsmith OIDC
              uses: cloudsmith-io/cloudsmith-cli-action@dbeb7b69746286974aab4a39a9f369a4fd0d5334 #v1.0.5
              with:
                oidc-namespace: ${{ secrets.OIDC_NAMESPACE }}
                oidc-service-slug: ${{ secrets.OIDC_SERVICE_SLUG }}
            - name: Log sync status
              shell: sh
              run: |
                echo "${{ inputs.logs-status }}"
            - name: Log sync data
              shell: sh
              run: |
                curl -L -H "X-Api-Key: ${{ env.CLOUDSMITH_API_KEY}}" "${{ inputs.logs-data }}" -o ./logs.txt
                cat logs.txt
