name: Get sync status

run-name: Get sync status - ${{ github.event.inputs.id }}

description:
    'Testing sync output gathered from external resources. Data gathered is a log zip file.'

on:
    workflow_dispatch:
        inputs:
            id:
                required: true
                type: string

jobs:
    get-status:
        runs-on: ubuntu-latest
        timeout-minutes: 180
        steps:
            - name: Log sync status
              continue-on-error: true
              shell: sh
              run: |
                echo "Internal resources triggered successfuly!"
                echo "Please wait for the get-sync-results.yml for the final output."
                echo "Thank you!"
                while true; do
                    echo "Internal resources still running ..."
                    sleep 10
                done
