name: Get sync status

description:
    'Testing sync output gathered from external resources. Data gathered is a log zip file.'

on:
    workflow_dispatch:

jobs:
    test-sync:
        runs-on: ubuntu-latest
        steps:
            - name: Log sync status
              shell: sh
              run: |
                echo "Internal resources are still running..."
                echo "Please wait for the get-sync-results.yml for the final output."
                echo "Thank you!"
