name: Test sync

description:
    'Testing sync output gathered from external resources. Data gathered is a log zip file.'

on:
    pull_request:
        branches:
            - master
        paths:
            - ".github/workflows/test-sync.yml"

jobs:
    test-sync:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Test sync
              shell: sh
              run: |
                echo "Testing sync"

                
                
